// General link behavior

.homepage-content{
  font-family: $post-font-family;

  .break-word {
    word-wrap: break-word;
  }
  
  a {
    color: $theme-color;
    border-bottom: 0;
    border-bottom-width: 0.5px;
    word-break: normal, break-all;
    
    &:hover {
      border-bottom: $content-link-border;
    }
    
    &.fancybox {
      border: 0;
    }
  }
  
  mark {
    background-color: #FFFFCC;
    padding-left: 3px;
    border-radius: 3px;
  }

  .post-time {
    font-family: $code-font-family;
    margin-right: 10px;
    color: #8a8a8a;
    font-size: .8em;
  }
  
  h3, h4 {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
 
  .column {
    flex: 45%;
    padding-bottom: 20px;
    padding-right: 4%;
  }
  
  /* On screens that are 700px wide or less, go from two columns to single column */
  @media screen and (max-width: $global-body-width) {
    .column {
      flex: 100%;
    }
  }
  
}
