// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

// ========== Color ========== //
$black: #0a0a0a !default;
$white: #fefefe !default;
$light-gray: #e6e6e6 !default;
$gray: #cacaca !default;
$dark-gray: #8a8a8a !default;
  

$global-font-size: 16px !default;
$global-lineheight: 1.5 !default;

// Font family of the site.
$global-font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", 'Helvetica Neue', Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Serif font family of the site.
$global-serif-font-family:  $global-font-family, 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI", Roboto, sans-serif;

// Font family of the logo.
$logo-font-family: $global-font-family;

// Font family of the code.
$code-font-family: Monaco, monospace !default;

// Font size of the logo.
$logo-font-size: 24px !default;

h1, h2, h3, h4 {
    font-family: $global-font-family;
    font-weight: 500;
}


