// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

// ========== Color ========== //
$black: #0a0a0a !default;
$white: #fefefe !default;
$light-gray: #e6e6e6 !default;
$gray: #cacaca !default;
$dark-gray: #8a8a8a !default;

$global-font-size: 16px !default;
$global-lineheight: 1.55 !default;

// Font family of the site.
$global-font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Post content font
$post-font-family: "IBM Plex Sans", "Charter", $global-font-family;

// Serif font family of the site.
$global-serif-font-family: $global-font-family;

// Font family of the logo.
$logo-font-family: $global-font-family;

// Font family of the code.
$code-font-family: "Fira Mono", Consolas, Menlo, monospace !default;

// Font size of the logo.
$logo-font-size: 24px !default;

h1, h2, h3, h4 {
    font-family: $global-font-family;
    font-weight: 600;
}

$post-title-font-weight: 400;
$post-title-font-size: 22px !default;

$post-header-font-weight: 600;
$menu-font-weight: 600;
$logo-font-weight: 600;

// Headings font size of the site.
$global-headings: (
  h1: 26px,
  h2: 24px,
  h3: 22px,
  h4: 20px,
  h5: 18px,
  h6: 16px
) !default;

/* highlight behavior for post content */
.post-content{
    font-feature-settings: "ss01";

    mark {
        background-color: #FFFFCC;
        padding-left: 3px;
        border-radius: 3px;
    }
    
    .green-highlight, .pink-highlight, .blue-highlight, .orange-highlight {
        border-radius: 3px;
        padding-left: 3px;
    }
    
    .green-highlight {
        background: #99FFCC; /* Default color, all browsers */
    }
    
    .pink-highlight {
        background: #FFCCFF; /* Default color, all browsers */
    }
    
    .blue-highlight {
        background: rgb(204, 224, 255); /* Default color, all browsers */
    }
    
    .orange-highlight {
        background: rgb(255, 231, 204); /* Default color, all browsers */
    }

}

