// General link behavior

.homepage-content{
  font-family: $post-font-family;
  
  a {
    color: $theme-color;
    border-bottom: 0;
    border-bottom-width: 0.5px;
    word-break: normal, break-all;
    
    &:hover {
      border-bottom: $content-link-border;
    }
    
    &.fancybox {
      border: 0;
    }
  }
  
  mark {
    background-color: #FFFFCC;
    padding-left: 3px;
    border-radius: 3px;
  }
  
}
